:root {
    --colorPrimary: red;
    --colorSecondary: blue;
    --colorBtn: gray;
    --colorFont1: #72172e;
    --colorFont2: white;
    --colorFont3: rgb(53, 53, 53);
    --colorBg1: white;
    --colorBg2: #cbcbcb;
    
    --btnBgPrimary: #fff;
    --btnBgPrimaryHover: #dadada;
    /* --btnBgBook: #138847; */
    --btnBgBook: #922b2b;
    --btnBgBookHover: #086933;

    --fontTitle: 'roboto', serif;
    --fontPrimary: 'Roboto', sans-serif;
    --fontBtnMain: 'Roboto', sans-serif;
    --easing: all .4s cubic-bezier(0.65, 0.05, 0.36, 1);

}
* {
    box-sizing: border-box;
}
html, body, div, img, a, h1, h2, h3, header, footer {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    text-decoration: none;
}
body {
    font-size: 16px;
    color: black;
    font-family: var(--fontPrimary);
    background: var(--colorBg1);
}
h1, h2 {
    font-family: 'DM Serif Display', serif;
    color: var(--colorFont1);
    /* letter-spacing: .5px; */
}
h3 {
    margin: 2em 0 -.5em 0;
    background: rgba(2, 113, 0, 0.1411764705882353);
}
.noMarginH3 {
    margin: 0;
    padding: 3px 10px;
}
.noMarginP {
    margin: 0 0 2em 0;
    padding: 10px 10px;
    background: rgba(255, 255, 255, 0.5);
}
.header {
    position: fixed;
    display: flex;
    top: 0;
    align-items: center;
    width: 100%;
    height: 110px;
    padding: .5em 1.5em .5em 1.8em;
    color: var(--colorFont1);
    background: white;
    z-index: 100;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.2);
    transition: var(--easing);
}
.header.sticky {
    height: 70px;
}
.compBox {
    line-height: 1.2;
}
.title {
    font-family: var(--fontTitle);
    font-size: 2.7em;
    font-family: 'Lobster', cursive;
    /* font-family: 'Merriweather', serif; */
    font-family: 'DM Serif Display', serif;
    transition: var(--easing);
}
.sticky .title {
    font-size: 2.1em;
}
.nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    margin: 0 5px;
    /* background: rgba(0,0,0,.2); */
}
.logo {
    height: 96px;
    margin-right: 7px;
    filter: contrast(1.3);
    transition: var(--easing);
    /* filter: sepia(1) hue-rotate(72deg) saturate(3.5); */
}
.sticky .logo {
    height: 60px;
    margin-right: 3px;
}
.style1 .logo, .style2 .logo, .style3 .logo {
    filter: sepia(1) hue-rotate(310deg) saturate(.9) contrast(2.5);
}
.style1 .title, .style2 .title, .style3 .title {
    position: absolute;
    color: var(--colorFont1);
}
.style1 .title {
    text-transform: lowercase;
    font-size: 37px;
    left: 74px;
    top: 16px;
}
.style2 .title {
    font-family: 'PT Serif', serif;
    font-size: 37px;
    left: 74px;
    top: 19px;
}
.style3 .title {
    font-family: 'Righteous', cursive;
    font-size: 40px;
    left: 76px;
    top: 15px;
}
.style4 .title {
    color: #1f1f1f;
}
.style4 .logo, .style5 .logo, .style6 .logo {
    /* filter: sepia(1) hue-rotate(72deg) saturate(2.5); */
}
.style4 .bookNow, .style5 .bookNow, .style6 .bookNow {
    color: white;
    background: var(--btnBgBook);
    /* border: solid 2px #b77d7d; */
}
.style4 .bookNow:hover, .style5 .bookNow:hover, .style6 .bookNow:hover {
    background: #7d1313;
    color: white !important;
}
.style5 .title {
    font-family: 'Righteous';
    color: #1f1f1f;
}
.style6 .title {
    color: #313131;
    border-bottom: solid 1px #3e3e3e;
    padding-bottom: 4px;
    margin-bottom: 1px;
    /* top: 1px; */
    /* position: absolute; */
    /* left: 77px; */
}
/* .subtitle {
    display: none;
} */
.style6 .subtitle {
    /* position: absolute; */
    /* display: block; */
    /* top: 50px; */
    /* left: 77px; */
    font-family: roboto;
    font-style: italic;
    letter-spacing: -1px;
    font-size: 19px;
    transition: var(--easing);
}
.sticky .subtitle {
    font-size: .95em;
}
.title, .subtitle {
    line-height: 1.1;
}
.btn {
    background: var(--btnBgPrimary);
    color: var(--colorFont3);
    padding: .5em 1em;
    margin-left: 1em;
    font: 1em var(--fontPrimary);
    cursor: pointer;
    /* border-radius: 7px; */
    border: solid 2px #bdbdbd;
    /* box-shadow: 1px 1px 3px rgba(0,0,0,.3); */
    transition: .15s all ease-in-out;
}
.btn:hover {
    background: var(--btnBgPrimaryHover);
}
.bookNow {
    display: flex;
    align-items: center;
    color: var(--colorFont2);
    background: var(--btnBgBook);
    border: solid 2px #922b2b;
    white-space: nowrap;
}
.bookNow:hover {
    background: var(--btnBgBookHover);
}
.cta {
    display: flex;
    justify-content: center;
    width: 10em;
    padding: 13px 35px;
    color: white;
    font-size: 1.5em;
    /* background: var(--btnBgBook); */
    background: var(--btnBgBook);
    /* max-height: 200px; */
    /* height: 120px; */
    /* margin-top: 65px; */
    /* color: black; */
    /* align-self: center; */
    /* align-content: center; */
    /* text-align: center; */
}
.cta:hover {
    background: #7d1313;
    color: white !important;
}
.iconLarge, .iconSmall {
    padding: 0px 3% 0 0;
    /* word-break: keep-all; */
}
.iconSmall {
    font-size: 1em;
}
/* .iconLarge {
    padding: 2px 5px 0 0;
} */
.heroContainer {
    height: 600px;
    margin-top: 100px;
    background: url(img/cannabis-and-wine-pairing-3-1280x800.jpg);
    background-attachment: fixed;
    object-fit: cover;
}
.photoBanner {
    /* height: 354px; */
    /* margin-top: 100px; */

    height: 314px;
    margin-top: 50px;
    background: url(img/closeUp.jpg) no-repeat;
    background-attachment: fixed;
    object-fit: cover;
}
.line {
    width: calc(100% - 12em);
    height: 1px;
    margin: 4em 6em 0em 6em;
    background: black;
}
.main {
    display: flex;
    flex-direction: column;
}
/* .topImages {
    height: 130px;
} */
.bgStripCont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.bgStrip {
    position: relative;
    width: 100%;
    height: 100%;
}
.bgStrip1 {
    background: url(img/leaf.png) no-repeat;
    background-attachment: fixed;
    background-size: 56%;
    background-position: -11% 50%;
    opacity: .1;
}
.bgStrip2 {
    background: url(img/wineSplash.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 45%;
    background-position: 127% 14%;
    opacity: .06;
}
.bgImg01 {
    position: fixed;
    top: 35px;
    left: -19px;
    opacity: .2;
    z-index: -1;
    height: 800px;
}
.bgImg02 {
    position: fixed;
    top: 70px;
    right: -190px;
    opacity: .15;
    z-index: -1;
    height: 940px;
}
img.hero {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card {
    display: flex;
    align-self: center;
    padding: 1em 6em 3em 6em;
}
.left {
    flex-grow: 1;
}
.right {
    padding-top: 4.4em;
}
.strip {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0;
}
.stripImgCont {
    width: 350px;
    height: 200px;
    margin: 10px;
    /* outline: solid red 1px; */
    overflow: hidden;
}
.stripImg {
    max-height: 200px;
    filter: sepia(1);
    cursor: pointer;
    transform: scale(1);
    transition: .15s all ease-in-out;
}
.stripImg:hover {
    filter: none;
    transform: scale(1.03);
}
iframe {
    padding-top: 20px;
}
footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* height: 70px; */
    background: var(--colorBg2);
}
.contactInfo {
    margin: 1.5em 6em;
    flex-grow: 1;
}
.iconPhone {
    font-size: 1.2em;
}
/* .contact {
    margin: 1.5em;
} */
.footerNav {
    display: flex;
    align-items: center;
    padding: .5em 1.5em;
}


@media only screen and (max-width: 1000px) {
    body {font-size: 14px;}
    .logo {height: 86px}
}
@media only screen and (max-width: 900px) {
    body {font-size: 12px;}
    .logo {height: 76px;}
    .heroContainer {background-size: 100%;}
}